:root {
  --vw: 10px;
  --vh: 10px;
}

html {
  font-size: 10px;
}

body,
button,
td,
th,
input,
select,
textarea {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 1.6rem;
  line-height: 36px;
  color: #000;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
nav {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

main {
  display: block;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0;
  img {
    max-width: 100%;
  }
}

iframe {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle;
}

picture {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  word-break: break-word;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
a {
  text-decoration: none;
  color: #2d2d2d;
}

input[type="text"] {
  word-break: keep-all;
  &::-ms-clear {
    display: none;
  }
}

select {
  &::-ms-expand {
    display: none;
  }
}


[class^='glyphs-'] {
  line-height: 1;
}

[class^='glyphs-']:before,
[class*=' glyphs-']:before {
  line-height: 1;
  vertical-align: middle;
}


.effect {
  transition: transform 1s ease,opacity 1.5s ease;
}

.delay_03 {
  transition-delay: 0.3s
}

.delay_04 {
  transition-delay: 0.4s
}

.delay_05 {
  transition-delay: 0.5s
}

.delay_06 {
  transition-delay: 0.6s
}

.delay_07 {
  transition-delay: 0.7s
}

.delay_08 {
  transition-delay: 0.8s
}

.delay_09 {
  transition-delay: 0.9s
}

.delay_10 {
  transition-delay: 1.0s
}

.fadeIn {
  opacity: 0;
}

.fadeIn.active {
  opacity: 1;
}

.slideUp {
  transform: translate3d(0, 50px, 0);
  opacity: 0;
}

.slideUp.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.slideToRight {
  transform: translate3d(-50px, 0, 0);
  opacity: 0;
}

.slideToRight.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.slideToLeft {
  transform: translate3d(50px, 0, 0);
  opacity: 0;
}

.slideToLeft.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.maskToRight {
  position: relative;
  transform: translateZ(0);
  overflow: hidden;
}

.maskToRight::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translate3d(0, 0, 0);
  background: #fff;
  transition: transform 0.8s linear;
  z-index: 2;
}

.maskToRight.active::before {
  transform: translate3d(100%, 0, 0);
}

.maskToLeft {
  position: relative;
  transform: translateZ(0);
  overflow: hidden;
}

.maskToLeft::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translate3d(0, 0, 0);
  background: #fff;
  transition: transform 0.8s linear;
  z-index: 2;
}

.maskToLeft.active::before {
  transform: translate3d(-100%, 0, 0);
}

.fadeInUp {
  opacity: 0;
  transform: translate(0, 50px);
}

.fadeInUp.active {
  opacity: 1;
  transform: translate(0, 0);
}

.imgScale{
  opacity: 0;
  transform: scale(0.8);
}

.imgScale.active{
  opacity: 1;
  transform: scale(1);
}