/* 変数置き場にしましょう。 */
/* url */
$url: /assets/images/;

/* font */
$hira : "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
$noto: 'Noto Sans JP', sans-serif;
/* color */

$color_01 : #fff;
$color_main: #16b0a6;